<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feedback.dao.FeedbackRecordMapper">
	<select id="queryMaxCount" resultType="int">
        SELECT count(*) From FeedBack 
    </select>
    
    <select id="queryMaxCountByLeader" resultType="int">
        SELECT count(*) From FeedBack where statusleader > 0
    </select>
    
    <select id="queryMaxCountByTeacher" parameterType="String" resultType="int">
        SELECT count(*) From teacher_feedback where tno = #{tno} and statusteacher > 0
    </select>
    
    <select id="queryMaxCountBySno" parameterType="String" resultType="int">
        SELECT count(*) From FeedBack where sno = #{sno}
    </select>
    
    <select id="queryFeedbackBySno" parameterType="java.util.Map" resultType="FeedbackRecord">
        SELECT * FROM FeedBack where sno = #{sno} LIMIT #{startRow}, #{rowCount}
    </select>
    
    <select id="queryFeedbackByTno" parameterType="java.util.Map" resultType="FeedbackRecord">
        SELECT * FROM teacher_feedback where tno = #{tno} and statusteacher > 0 LIMIT #{startRow}, #{rowCount}
    </select>
    
    <select id="queryLeaderFeedback" parameterType="java.util.Map" resultType="FeedbackRecord">
       SELECT * FROM FeedBack where statusleader > 0 LIMIT #{startRow}, #{rowCount}
    </select>
    
    <select id="queryAll" parameterType="java.util.Map" resultType="FeedbackRecord">
        SELECT * FROM FeedBack LIMIT #{startRow}, #{rowCount}
    </select>
    
</mapper>