<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feedback.dao.FeedbackMapper">
	<select id="insert" parameterType="FeedbackRecord" >
         insert into feedback
         values (#{sno},#{ctno},#{fbtime},#{content},#{statusadm},#{statusleader},#{statusteacher},#{agree})
     </select>
	
</mapper>
